.event_block
  width: 400px
  margin: 0px 10px 15px 0px
  //border-left: 3px solid black
  //border-right: 3px solid black
  padding-left: 10px
  font-size: 14px
  line-height: 20px
  background-color: white
  +transparency(0.6)
  +border_radius(6px, 6px, 6px, 6px)
  a
    color: #1985b5
    text-decoration: none
  .linked_name
    margin-top: 6px
    margin-bottom: 5px
    a
      border-bottom: 1px dotted
  .vk_event
    a
      border-bottom: 1px solid
    img
      float: left
      margin-right: 4px
      margin-top: 2px
  .retweet
    text-align: right
    margin-right: 5px
  .place
    img
      float: left
      margin-right: 4px
      margin-top: 2px