#header
  width: 100%
  overflow: hidden

  .logo
    float: left
    font-size: 3em
    font-weight: bold
    color: #fff
    text-shadow: #000 1px 1px 1px

  .menu
    width: 200px
    float: right

#main_menu
  font-size: 1.6em
  line-height: 2em