@import config.sass

*, html
  margin: 0
  padding: 0
  font-family: Tahoma

body
  width: 800px
  margin: 10px auto
  font-size: 14px
  //background-color: #7F94B0
  background: url('/images/pattern.png')

h1
  font-size: 1.8em
  margin-bottom: 15px
  letter-spacing: -0.1em

a img
  border: none

.started_at
  span
    background-color: black
    color: white
    font-family: Georgia
    padding: 2px 4px 4px 4px
    +border_radius(0, 0, 6px, 6px)
  margin-bottom: 5px

.twitter
  position: absolute
  right: 30px
  top: 40px


ul.menu
  width: 100%
  overflow: hidden
  list-style: none
  margin: 0 0 0 0
  padding: 0

  li
    float: left
    margin-right: 10px

    a
      display: block

@import structure.sass
@import events.sass