%h1 
  =t '.talk'

- if (@talk) 
  .talk_block
    .started_by 
      %span=@talk.created_at.to_formatted_s(:event) + ' / ' + @talk.user.login
    .title=@talk.title
    .body=@talk.body
  =link_to image_tag("comment_add.png"), new_talk_comment_path(@talk)
  - @talk.comments.each do |comment|
    .comment_block
      .message=comment.message 
      .created_by 
        %span=comment.created_at.to_formatted_s(:event) + ' / ' + (comment.user ? comment.user.login : 'unknown')