%h1 Edit My Account

- semantic_form_for @user, :url => account_path do |f|
  = f.semantic_errors
  = f.inputs :password, :password_confirmation
  - f.buttons do
    = f.commit_button :button_html => { :value => "Update" }
