%h1=@event.name

.event_block
  .started_at
    %span= @event.started_at.to_formatted_s(:event)
  .description
    =@event.description
  %br
  = GMap.header
  = @map.to_html
  = @map.div(:width => 390, :height => 300)
  %br