!!! strict
%html
  %head
    %title= 'Sevastopol Ruby on Rails developers'
    = javascript_include_tag :defaults
    = yield :head
  %body{ :class => controller.controller_path.gsub('/', ' ') + ' ' + params[:action] }
    #page
      #content
        = yield